In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('wordCount').master("local[*]").getOrCreate()

In [81]:
from pyspark.sql.functions import split, explode, lower, count

data = spark.read.text("book.txt")
data = data.select(explode(split(data.value, "\\W+")))
data = data.filter(data['col'] != "")
words = data.select(lower(data['col']).alias("word")).groupBy("word").agg(count("word").alias("count"))
words = words.orderBy(words["count"].desc())

words.show()

+--------+-----+
|    word|count|
+--------+-----+
|     you| 1878|
|      to| 1828|
|    your| 1420|
|     the| 1292|
|       a| 1191|
|      of|  970|
|     and|  934|
|    that|  747|
|      it|  649|
|      in|  616|
|      is|  560|
|     for|  537|
|      on|  428|
|     are|  424|
|      if|  411|
|       s|  391|
|       i|  387|
|business|  383|
|     can|  376|
|      be|  369|
+--------+-----+
only showing top 20 rows

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('word_count_test').master('local[*]').getOrCreate()

In [47]:
from pyspark.sql.functions import split, explode, lower, count

text_data = spark.read.text('book.txt')

text_data = text_data.select(explode(split(text_data.value, "\\W+")))

text_data = text_data.select(lower(text_data['col']).alias('word')).groupBy("word").agg(count("word").alias("count"))

text_data = text_data.orderBy(text_data["count"].desc())

text_data.show()

print(text_data.count())

+--------+-----+
|    word|count|
+--------+-----+
|     you| 1878|
|      to| 1828|
|    your| 1420|
|     the| 1292|
|       a| 1191|
|      of|  970|
|     and|  934|
|        |  772|
|    that|  747|
|      it|  649|
|      in|  616|
|      is|  560|
|     for|  537|
|      on|  428|
|     are|  424|
|      if|  411|
|       s|  391|
|       i|  387|
|business|  383|
|     can|  376|
+--------+-----+
only showing top 20 rows

4119

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('test_books_wordcount').master('local[*]').getOrCreate()

In [29]:
from pyspark.sql.functions import count, split, explode

df = spark.read.text('book.txt')

df = df.select(explode(split(df.value, "\\W+"))).alias('col')

df = df.groupBy('col')
df = df.agg(count("col").alias("counts"))

df = df.orderBy(df["counts"].desc())

df.show(truncate=False)

+--------+------+
|col     |counts|
+--------+------+
|to      |1816  |
|you     |1690  |
|your    |1340  |
|the     |1178  |
|a       |1149  |
|of      |951   |
|and     |910   |
|        |772   |
|that    |705   |
|in      |574   |
|it      |548   |
|is      |542   |
|for     |515   |
|on      |426   |
|are     |401   |
|I       |387   |
|s       |385   |
|be      |358   |
|can     |355   |
|business|350   |
+--------+------+
only showing top 20 rows