### Lists are Mutable type, which are used to define the list of variables of different types. Can be retrieved by using array like indexing

In [2]:
list_test = [1,2,3]
print(list_test[0])

### Dictonaries are used for storing key-val pairs. Can be retrieved by passing index as the key in array like notation. Mutable Type. Can have dictionary within dictionary

In [7]:
dict_test = {'key1':'hello', 'key2':'world','rock':{'best':'led zep', 'also':'iron maiden'}}

dict_test['rock']['also']

dict_test.keys()

dict_test().items

'iron maiden'

### Tuple, an immutable type, cannot be changed once assigned. Best for constant values that user cant change

In [10]:
tuple_test = (1,2,3)

tuple_test[0]

1

### Sets, an unordered collection of immutable and unique elements

In [11]:
set_test = {1,2,3,1,5,3}

set_test

{1, 2, 3, 5}

### Conditional Operators

== , != , AND , OR,

### Conditional Statements : If, elif and else

In [13]:
if 1==2 :
    print('nah')
elif 2==1 :
    print('still nah')
else:
    print('um hmm')

um hmm

### For Condition

In [1]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)

1
2
3
4
5

### While Condition

In [5]:
i = 1

while i<5:
    print('i : {}'.format(i))
    i = i + 1

i : 1
i : 2
i : 3
i : 4

### For loop using range

In [6]:
for x in range(0,5):
    print(x)

0
1
2
3
4

### List comprehension . Append the for loop output to List directly

In [10]:
[num**2 for num in range(0,5)]

[0, 1, 4, 9, 16]

### Functions

In [12]:
def my_func(x=1):
    """
    Documentation of function that shows up when the shift+tab is hit
    """
    return x**4

my_func(20)

### Map Function

In [15]:
seq = [1,2,3,4,5]

list(map(my_func,seq))

[1, 16, 81, 256, 625]

### lambda functions

In [17]:
seq_pow_three = [1,2,3,4,5]

list(map(lambda num: num**3,seq))

[1, 8, 27, 64, 125]

## lambda -> shortening the for loop
## map - > apply for each element in the seq
## filter -> filter out values that match the condition

In [19]:
list(filter(lambda num: num %2 == 0, seq))

[2, 4]

## String Operations

In [23]:
str = 'Sun is the same in the relative way but in the mean time'

str.lower()

str.upper()

str.split('in')

['Sun is the same ', ' the relative way but ', ' the mean time']