In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("challenge_one").master("local[*]").config("spark.driver.bindAddress", "127.0.0.1").getOrCreate()

In [38]:
data = spark.read.csv("fakefriends-header.csv", inferSchema=True, header=True)
data.head(10)
# df.describe().show()

[Row(userID=0, name='Will', age=33, friends=385),
 Row(userID=1, name='Jean-Luc', age=26, friends=2),
 Row(userID=2, name='Hugh', age=55, friends=221),
 Row(userID=3, name='Deanna', age=40, friends=465),
 Row(userID=4, name='Quark', age=68, friends=21),
 Row(userID=5, name='Weyoun', age=59, friends=318),
 Row(userID=6, name='Gowron', age=37, friends=220),
 Row(userID=7, name='Will', age=54, friends=307),
 Row(userID=8, name='Jadzia', age=38, friends=380),
 Row(userID=9, name='Hugh', age=27, friends=181)]

In [51]:
from pyspark.sql.functions import format_number, mean

df = data.select('age', 'friends')

"""
- groupBy Age.
- aggregate by friends. truncate to 2 floating numbers. Alias it to Friends
- orderBy age
"""
df = df.groupBy("age").agg(format_number(mean('friends'),2).alias("Friends")).orderBy("age").show()

+---+-------+
|age|Friends|
+---+-------+
| 18| 343.38|
| 19| 213.27|
| 20| 165.00|
| 21| 350.88|
| 22| 206.43|
| 23| 246.30|
| 24| 233.80|
| 25| 197.45|
| 26| 242.06|
| 27| 228.12|
| 28| 209.10|
| 29| 215.92|
| 30| 235.82|
| 31| 267.25|
| 32| 207.91|
| 33| 325.33|
| 34| 245.50|
| 35| 211.62|
| 36| 246.60|
| 37| 249.33|
+---+-------+
only showing top 20 rows