In [1]:
import pandas as pd

In [2]:

pd.DataFrame({'Yes':[50, 100], 'No':[20, 20]})

   Yes  No
0   50  20
1  100  20

In [4]:
pd.DataFrame({'Col1':['row1', 'row2'], 'Col2':['row1', 'row2']})

   Col1  Col2
0  row1  row1
1  row2  row2

In [5]:
pd.DataFrame({'Col1':['row1', 'row2'], 'Col2':['row1', 'row2']},
index=['Row1', 'Row2'])

      Col1  Col2
Row1  row1  row1
Row2  row2  row2

In [9]:
pd.Series([1, 2, 3, 4, 5], index = ['number1','number1', 'number1', 'number1', 'number1'], name="Dummy")

number1    1
number1    2
number1    3
number1    4
number1    5
Name: Dummy, dtype: int64